.App {
  background-image: url('./assets/newphoto.JPG');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.home-page {
  z-index: 1;
  position: relative;
}

.greeting-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}


.greeting-message {
  text-align: center;
  font-size: 2em;
  background: linear-gradient(45deg, #ff4e50, #f9d423);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: 2px #333;
}

.button-container {
  padding: 10px 20px;
  background-color: #493313;
  position: absolute;
  bottom: 208px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

button,
button:focus {
  outline: none;
  cursor: pointer;
  background: transparent;
  border: 1px solid transparent;
  color: #ffd6a4;
}

button:active {
  outline: none;
  background: transparent;
  border: 1px solid grey;
  color: #ffd6a4;
}